<!-- About section -->
    <section id="about">
        <div class="container portfolio">
            <div class="main-feature">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>About</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa fa-check-square-o"></i>
                        <h4>Declare Your Forms</h4>
                        <p>Declare rather than code your forms. Every form element is available!</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-upload"></i>
                        <h4>File Uploads</h4>
                        <p>Receiving files from client uploads is made easy, just declare it as part of your form and don't worry about the details</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-filter"></i>
                        <h4>Validate, Constrain, &amp; Filter</h4>
                        <p>Select from an extensive range of included constrains and validators, or define your own. Use included or your own filters to massage data into the form you desire.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa fa-database"></i>
                        <h4>O.R.M. Integration</h4>
                        <p>Dispense with even having to declare your forms by making use of DBIx::Class integration to auto-generate forms based upon your live schema.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-calendar"></i>
                        <h4>Dates and Times</h4>
                        <p>Date, Time and Date-Time inputs are well supported including Time Zones. Declare them, and FormFu takes care of validate and normalising into DateTime objects.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-language"></i>
                        <h4>Internationalization (i18n)</h4>
                        <p>Error and notice messages are provided in 18+ languages. It's trivial to add yours, or swap in your own custom messages.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa fa-cogs"></i>
                        <h4>Perl</h4>
                        <p>We're proud to program it in <a target="_blank" href="https://www.perl.org/">Perl</a>.</p>
                        <p>Feature-rich and 30 years young, read more <a target="_blank" href="https://www.perl.org/about.html">about why we love Perl...</a></p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-code"></i>
                        <h4>Made with Moose</h4>
                        <p>We use <a target="_blank" href="https://metacpan.org/pod/Moose">Moose</a>, A postmodern object system for Perl 5. With Moose you can think more about what you want to do and less about the mechanics of OOP.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-rocket"></i>
                        <h4>Free Software</h4>
                        <p>FormFu is provided with a permissive license (<a href="https://fastapi.metacpan.org/source/NIGELM/HTML-FormFu-2.05/LICENSE">GPLv1 + Artistic</a>) so has no cost to use. Please understand the license requirements though.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
