<!-- Developers section -->
    <section id="developers">
        <div class="container portfolio">
            <div class="main-feature">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Developers</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa fa-cogs"></i>
                        <h4>Perl</h4>
                        <p>We're proud to program it in <a target="_blank" href="https://www.perl.org/">Perl</a>.</p>
                        <p>Feature-rich and 30 years young, read more <a target="_blank" href="https://www.perl.org/about.html">about why we love Perl...</a></p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-random"></i>
                        <h4>Web Frameworks</h4>
                        <p>We use <a target="_blank" href="http://www.mojolicious.org/">Mojolicious</a>, a real-time web framework.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-database"></i>
                        <h4>Data Modeling</h4>
                        <p>We use <a target="_blank" href="https://www.mysql.com">MySQL</a>. It's the world's most popular open source database. With its proven performance, reliability, and ease-of-use.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa fa-language"></i>
                        <h4>Internationalization (i18n)</h4>
                        <p>Error and notice messages are provided in 18+ languages. It's trivial to add yours, or swap in your own messaging.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-github"></i>
                        <h4>Github</h4>
                        <p>All the Project's source code, documentation, and even this website are hosted on GitHub. Making contributions as easy as humans have yet developed.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-rocket"></i>
                        <h4>Free Software</h4>
                        <p>FormFu is provided with a permissive license (<a href="https://fastapi.metacpan.org/source/NIGELM/HTML-FormFu-2.05/LICENSE">GPLv1 + Artistic</a>) which allows you, your company, your project etc. to use it for free and without any costs. In a commercial setting you should udnerstand the requirements of these licenses.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
