<!-- Developers section -->
    <section id="developers">
        <div class="container portfolio">
            <div class="main-feature">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Developers</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa fa-cogs"></i>
                        <h4>Perl</h4>
                        <p>We're proud to program it in <a target="_blank" href="https://www.perl.org/">Perl</a>.</p>
                        <p>Perl 5 is a highly capable, feature-rich programming language with over 29 years of development. <a target="_blank" href="https://www.perl.org/about.html">More about why we love Perl...</a></p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-random"></i>
                        <h4>Web Framework</h4>
                        <p>We use <a target="_blank" href="http://www.mojolicious.org/">Mojolicious</a>, a real-time web framework.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-database"></i>
                        <h4>Data Modeling</h4>
                        <p>We use <a target="_blank" href="https://www.mysql.com">MySQL</a>. It's the world's most popular open source database. With its proven performance, reliability, and ease-of-use.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa fa-language"></i>
                        <h4>Internationalization (i18n)</h4>
                        <p>We use <a target="_blank" href="https://www.transifex.com/ravada/ravada/">Transifex</a> to provide a cleaner and easy to use interface for translators.</p>
                        <p>It's meant for adapting applications and text to enable their usability in a particular cultural or linguistic market.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-github"></i>
                        <h4>Github</h4>
                        <p>We use Git as a version control system for tracking changes in computer files and coordinating work on those files among our <a target="_blank" href="https://github.com/UPC/ravada/graphs/contributors">team</a>. You're invited to contribute!</p>
                        <p>Our code is licensed with <a target="_blank" href="https://github.com/UPC/ravada/blob/master/LICENSE">AGPL</a> and is available in <a target="_blank" href="http://bit.ly/get_ravada">Github</a>.</p>

                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-rocket"></i>
                        <h4>A lot of Free Software</h4>
                        <p>We use a lot of powerful free source like <a target="_blank" href="https://www.gnu.org/">GNU</a>/Linux <a target="_blank" href="https://www.ubuntu.com/server">Ubuntu</a>, <a target="_blank" href="http://www.linux-kvm.org/">KVM</a>, <a target="_blank" href="http://libvirt.org/">Libvirt</a> or <a target="_blank" href="https://www.spice-space.org/">Spice</a>, among others. Responsive web made with <a target="_blank" href="getbootstrap.com/">Bootstrap</a> and <a target="_blank" href="https://angularjs.org/">AngularJS</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
