 <!-- Documentation Section -->
    <section id="documentation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Documentation</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Official Doc's</h3>
                    <ul>
                        <li>FormFu on <a href="https://metacpan.org/release/HTML-FormFu">MetaCPAN</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3>3rd Party</h3>
                    <ul>
                        <li><a href="http://blogs.perl.org/users/kahlil_kal_hodgson/2015/06/hubble-bubble-toil-and-trouble-catalyst-bootstrap-and-htmlformfu.html">Catalyst, Bootstrap and HTML::FormFu</a> - Perl Blog (2015)</li>
                        <li><a href="https://www.slideshare.net/djzort/formfu">Efficient web forms. So you can leave at 5pm each day.</a> - Sydney PM Talk (2014)</li>
                        <li><a href="http://www.catalystframework.org/calendar/2012/17">Dynamic forms with HTML::FormFu</a> - Catalyst Advent Calendar (2012)</li>
                        <li><a href="http://www.mechanicalrevolution.com/blog/html_formfu_manual.html">The Missing Manual</a> - By Peter Shangov</li>
                        <li><a href="https://charlieharvey.org.uk/page/config_general_arrayref_formfu">Config::General arrayrefs and HTML::FormFu</a> - Blog Post (2010)</li>

                    </ul>
                    <p>Got a suggestion? Let us know!</p>
                </div>
            </div>
        </div>
    </section>
