    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
            <div class="row row-buttons">
                <div class="col-sm-6">
                    <a href="https://metacpan.org/pod/HTML::FormFu" class="btn btn-lg btn-outline btn-block">
                        <i class="fa fa-download"></i> Download FormFu from CPAN
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="https://github.com/FormFu" class="btn btn-lg btn-outline btn-block">
                        <i class="fa fa-github"></i> FormFu project on GitHub
                    </a>
                </div>
            </div>
        </div>
    </header>
