{% include css/bootstrap.min.css %}
{% include css/main.css %}

/* About icons from font-awesome */
.main-feature {
    text-align: center;
}
.main-feature .col-sm-4 {
  margin-bottom: 40px;
}
.main-feature i {
  background: #272323;
  border-radius: 30px;
  color: #f3f9f9;
  font-size: 60px;
  line-height: 120px;
  height: 120px;
  width: 120px;
}

/* Adjust buttons under the title */
.row-buttons {
    margin-top: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Getting started buttons */
.palette-button {
    height: 300px;
    margin: 0px 0px 30px;
    text-align: center;

}

.palette-button a:hover, .palette-button a:active, .palette-button a:focus {
    outline: 0px none;
    text-decoration: none;
    color: #272323;
    background-color: #F5B142;
}

.palette-link {
    display: block;
    position: relative;
    margin: 0px auto;
    height: 300px;
    color: #ffffff;
    font-size: 30px;
}

.palette-link .palette-text {
    padding-top: 70px;
}
